@import url('https://fonts.googleapis.com/css2?family=Caveat+Brush&family=Chewy&family=Delicious+Handrawn&family=Flavors&family=Griffy&family=Lakki+Reddy&family=Solitreo&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html, body {
    width: 100%;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

body{
    background-color: #FDD7CE;
    max-width: 100vw;
}

header{
    background-color: #4F8492;
    position: relative;
}

.nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #fff;
    font-size: 36px;
    font-family: "Chewy", system-ui;
    font-weight: 400;
    background-color:#4F8492;
    height: 15vh;
    padding-inline: 30px;
    padding-right:70px;
}

.nav-list{
    list-style: none;
    display: flex;
}

.nav-list li{
    margin-left: 45px;
}

.home{
    opacity: 70%;
}

header nav a:hover{
    border-bottom: 2px solid #D4ADAC;
}

button:hover{
    height: 50px;
    color: #FDD7CE;
    background-color: #7DAAB6; 
}

#imf:hover{
    opacity: 60%;
    width: 105px;
}


main {
    background-color: #FDD7CE;
    align-items: center;
    flex-wrap: wrap;
    padding-top: 75px;
    margin: 0 auto;
    text-align: center;
    height: max-content;
}

main div{
    max-height: 100%;
    display: flex;
    max-width: 100%;
}

nav a {
    color: #fff;
}

img {
    max-width: 100%;
}

.imagems {
    border-radius: 50%;
    border: 8px solid #D4ADAC;
    width: 410px;
    margin-left: 30px;
}

h1{
    text-align: justify;
    margin-right: 20px;
    font-size: 50px;
    color: #5A8A96;
    font-family: "Delicious Handrawn", cursive;
    font-weight: 400;
}

.divs{
    justify-content: space-around;
}

.diva{
    flex-wrap: wrap;
}

.diva2{
   flex-direction: column;
   max-width: 60%;
   justify-content: center;
   flex-wrap: wrap;
}

footer{
    display: flex;
    height: 20vh;
    background-color: #FDD7CE;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

footer img {
    width: 100px;
}

footer nav {
    max-width: 100%;
    gap: 0rem;
    margin-left: 33px;
    width: 45%;
    padding: 0 2rem;
    flex-wrap: wrap;
}

.divf{
    width: 45%;
    justify-content: flex-start;
    flex-wrap: wrap;
}

button{
    display: flex;
    gap: 1rem;
    font-size: 26px;
    border: 3px solid #7DAAB6 ;
    border-radius: 25px;
    color: #7DAAB6;
    font-family: 'Open Sans', 'Helvetica Neue', sans-serif;
    background-color: transparent;
    padding: 10px 20px;
}

a{
    text-decoration: none;
}

.mobile-menu{
    display: none;
    cursor: pointer;
}

.mobile-menu div{
    width: 32px;
    height: 3px;
    background: #fff;
    margin: 8px;
    border-radius: 10px;
    transition: 0.3s;
}

.historia{
    opacity: 70%;
}

.h11{
    word-spacing: 8px;
    text-align: center;
    font-size: 70px;
    color: #5A8A96;
    font-family: "Delicious Handrawn", cursive;
    font-weight: 400;
    border-right: 4px solid;
    width: 48ch;
    white-space: nowrap;
    overflow: hidden;
    animation: typing 2s steps(48), 
    blinking 0.5s infinite step-end alternate;
}

.main1 {
    background-color: #FDD7CE;
    align-items: center;
    flex-wrap: wrap;
    padding-top: 30px;
    margin: 0 auto;
    text-align: center;
    height: max-content;
    width: max-content;
    max-width: 100%;
}

.divs1{
    width: 100%;
    display: flex;
    padding: 40px 0;
    justify-content: space-evenly;
}

.diva0{
    width: 50%;
}

.flores{
    width: 1400px;
}

.diva00{
    width: 75%;
}

.dragao{
    width: 1000px;
    animation: float 3s ease-in-out;
}

.duv{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-wrap: wrap;
}

.footer1{
    display: flex;
    height: max-content;
    background-color: #FDD7CE;
    align-items: center;
    flex-wrap: wrap;
    padding-bottom: 20px;
    padding-inline: 40px;
    justify-content: flex-end;
    align-items: flex-end;
}

.duv2{
    justify-content: flex-end;
    align-items: flex-end;
    flex-wrap: wrap;
}

.button1{
    display: flex;
    gap: 1rem;
    font-size: 30px;
    border: 3px solid #7DAAB6 ;
    border-radius: 25px;
    color: #7DAAB6;
    font-family: 'Open Sans', 'Helvetica Neue', sans-serif;
    background-color: transparent;
    padding: 5px 40px;
}

@keyframes typing {
    from {
        width: 0;
    }
}

@keyframes blinking {
   50% {
    border-color: transparent;
   } 
}

@keyframes float {
    0%, 100% {
        transform: translateX(0);
    }
    50% {
        transform: translateX(-50px);
    }
}




@media(max-width: 1071px){
    body{
        overflow-x: hidden;
        overflow-block: hidden;
    }

    .nav-list{
        position: absolute;
        top: 15vh;
        right: 0;
        width: 50vw;
        height: 75vh;
        background: #4F8492;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        transform: translateX(100%);
        transition: transform 0.3s ease-in;
    }

    .nav-list li{
        margin-left: 0;
        opacity: 0;
    }

    .mobile-menu{
        display: block;
    }

    .nav-list.active {
        transform: translateX(0);
    }

    @keyframes navLinkFade {
        from {
            opacity: 0;
            transform: translateX(50px);
        }
        to {
            opacity: 1;
            transform: translateX(0);
        }
    }

    .divs{
        justify-content: center;
        align-items: center;
        text-align: center;
    }

    .diva img{
        height: max-content;
        width: 50%;
        justify-content: center;
        align-items: center;
        margin-left: 0;
    }

    .diva2{
        height: auto;
        max-width: 100%;
        justify-content: center;
        align-items: center;
        text-align: center;
        margin-top: 20px;
        padding: 10px;
    }

    h1{
        font-size: 39px;
        margin: auto;
        width: 100%;
    }

    
    main{

        height: max-content;
        align-content: center;
        justify-content: center;
        align-items: center;
        margin-top: 25px;
        padding: 0 20px;
    }

    main div{
        display: block;
    }

    footer{
        display: flex;
        justify-content: space-around;
        align-items: center;
        height: max-content;
    }

    footer nav{
        height: max-content;
        width: 60%;
        text-align: center;
        margin: 0;
        padding-top: 20px;
    }

    footer div{
        height: max-content;
        width: 100%;
    }

    footer nav img {
        width: 18%;
    }

    footer div {
      display: flex;
      width: 40%;
      text-align: center;
      justify-content: center;
      padding: 20px;
      padding-top: 40px;
    }

    button{
        font-size: 15px;
    }
}

@media(max-width: 768px){
    .diva img{
        width: 60%;
    }
    button{
        font-size: 11px;
        size: 20%;
    }

    footer nav{
        width: 60%;
    }

    footer nav img {
        width: 60px;
    }

    .nav-list{
        height: 80vh;
    }

    .main1{
        width: auto;
        height: auto;
    }

    .h11{
        word-spacing: 8px;
        text-align: center;
        font-size: calc(1em + 3vw);
        color: #5A8A96;
        font-family: "Delicious Handrawn", cursive;
        font-weight: 400;
        border-right: none;
        white-space: normal;
        overflow: hidden;
        animation: none;
    }

    .divs1{
        width: 100%;
        display: block;
        padding: 40px 0;
    }

    .diva0{
        width: 65%;
    }
    

    .diva00{
        width: 100%;
    }

    .dragao{
        width: 90%;
    }

    .footer1 {
        height: max-content;
    }

    .button1 {
        font-size: calc(1em + 2vw);
    }
}


@media(max-width: 490px){

    .diva0{
        width: 60%;
    }
    

    .diva00{
        width: 100%;
    }

    .dragao{
        width: 80%;
    }

    .footer1{
        height: max-content;
        position: absolute;
        bottom: 10px;
        width: 100%;
        padding: 0;
        justify-content: center;
        align-items: center;
    }

    .button1 {
        font-size: calc(0.5em + 2vw);
    }
}

@media(max-width: 576px){
    .diva img{
        width: 70%;
    }
    h1{
        font-size: 30px;
    }
    .nav{
        font-size: 27px;
    }

    footer {
        height: 20%;
        justify-content: space-between;
    }

    footer nav{
        width: 100%;
        height: min-content;
    }
    button{
        size: 20%;
        font-size: 12px;
        border: 2px solid #7DAAB6 ;
    }

    footer div{
        height: 10%;
        width: 100%;
        padding: 10px;
    }

    footer nav img {
        width: 15%;
    }

    .nav-list{
        height: 70vh;
    }

    button:hover{
        height: 20px;
        color: #FDD7CE;
        background-color: #7DAAB6; 
    }
}

@media(max-width: 490px){
    .nav-list{
        height: 55vh;
    }

    #imf:hover{
        opacity: 60%;
        width: 16%;
    }

    footer nav img {
        width: 18%;
    }

}


.mobile-menu.active .line1{
    transform: rotate(-45deg) translate(-8px, 8px);
}

.mobile-menu.active .line2{
    opacity: 0;
}

.mobile-menu.active .line3{
    transform: rotate(45deg) translate(-7px, -8px);
}

